body {
    height: 100vh;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

/* Font */

@font-face {
    font-family: Eudoxus;
    src: url(resources/font/EudoxusSans-Regular.ttf);
}

@font-face {
    font-family: Grifter;
    src: url(resources/font/grifterbold.otf);
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Grifter';
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Eudoxus';
}

h1 {
    display: none;
}

h2 {
    font-size: 30px;
    letter-spacing: 1px;
    position: absolute;
    z-index: 2;
}

/* Page */

.page {
    height: 1000px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page--2 .card-container * {
    color: #000;
}

.page--1 .card-container *,
.page--3 .card-container * {
    color: #e0d6cc;
}

.page.page--1,
.page--2 .card-container {
    background: #e0d6cc;
}

.page.page--2,
.page--1 .card-container,
.page--3 .card-container {
    background: #000;
}

.page.page--3 {
    background: #f08261;
}

/* Card */

.card-container {
    height: 550px;
    width: 480px;
    padding: 3em; 
    position: relative;
}

.page--3 .card-container {
    height: 820px;
}

/* Card > Bolt */

.page--1 .bolt,
.page--2 .bolt {
    margin: 6em 0 1.5em;
}

.page--3 .bolt {
    margin: 2em 0 1em;
}

/* Card > Card Content */

.card-container .card-content {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Card > Card Content > Headline */

.card-container .card-content .headline h2 {
    font-size: 50px;
    position: relative;
}

/* Card > Card Content > Headline Image */

.card-container .headline-img {
    position: relative;
    margin: -3em -3em 0 -3em;
}

.card-container .headline-img img {
    max-width: 100%;
}

/* Card > Card Content > Brand Concept */
.card-container .brand-concept {
    position: absolute;
    top: -161px;
    right: 0;
}

.card-container .brand-concept:hover {
    animation: filter-animation 5s infinite;
}

/* Card > Card Content > CTA */

.card-container .card-content .cta-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-container .cta-item {
    width: 200px;
}

.cta-item h3 {
    font-size: 21px;
    letter-spacing: 1px;
}

.cta-item p {
    margin: 10px 0 15px;
}

.cta-item .btn {
    text-decoration: none;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

.page--1 .cta-item .btn::after {
    background-image: url(resources/img/arrow-wafer.svg);
}

.page--2 .cta-item .btn::after {
    background-image: url(resources/img/arrow-black.svg);
}

.page--3 .cta-item .btn::after {
    background-image: url(resources/img/arrow-sienna.svg);
}

.cta-item .btn::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    height: 15px;
    width: 18px;
    margin-top: -3px;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.cta-item .btn:hover::after {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}


@media screen and (max-width: 500px) {
    .card-container {
        padding: 2em;
        height: 645px;
    }

    .card-container .headline-img {
        margin: -2em -2em 0 -2em;
    }

    .card-container .brand-concept {
        transform: translate(40px, 61px);
    }

    .card-container .brand-concept img {
        width: 200px;
    }

    .card-container .card-content {
        height: 450px;
    }

    .card-container .card-content .headline h2 {
        font-size: 10vw;
    }

    .card-container .card-content .cta-container {
        flex-direction: column;
        gap: 2em;
    }
}

/* Animation */

.fade-in-from-top div,
.fade-in-from-left div,
.fade-in-from-bottom div  {
    display: none;
}

.fade-in-from-top {
    opacity: 0;
    margin-top: -300px;
    max-width: 100%;
}

.fade-in-from-left {
    opacity: 0;
    margin-left: -1000px;
    max-width: 100%;
}

.fade-in-from-bottom {
    opacity: 0;
    margin-bottom: -300px;
    max-width: 100%;
}

/* Animation > Filter */

@keyframes filter-animation {
    0% {
      filter: sepia(0) saturate(1);
    }
  
    50% {
      filter: sepia(1) saturate(4);
    }
  
    100% {
      filter: sepia(0) saturate(1);
    }
  }